<h1>New Book</h1>
  <% if @list.errors.count == 1 %>
    1 error prohibited this book from being saved:
  <% elsif @list.errors.count == 2 %>
    2 errors prohibited this book from being saved:
    <ul>
      <% @list.errors.full_message.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

<%= form_with model: @list, url: '/books',method: :port do |f| %>
  <p>Title</p>
  <%= f.text_field:title %>
  <p>Body</p>
  <%= f.text_area:body %>
  
  <%= f.submit:"Create Book" %>
<% end %>